*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-primary: rgb(242, 251, 255);
  --color-secondary: rgb(226, 233, 238);
}
/* home */
body {
  overflow-x: hidden;
  background-color: rgb(30, 30, 30);
}
.container {
  width: 100vw;
  background-image: url("./images/mountain-landscape-with-mountains-clouds-background_1120554-22108_LE_upscale_balanced.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.search-box,
.favorite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.156), rgba(0, 0, 0, 0.55));
  padding: 2rem 0;
}
.card,
.error,
.weather,
.loader-background {
  width: 340px;
  height: 190px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(52, 52, 52, 0.3);
  box-shadow: 0px 0px 15px rgba(37, 37, 37, 0.744);
  backdrop-filter: blur(25px);
}
.error {
  height: 130px;
  margin-top: 1.5rem;
}
.weather {
  margin-top: 1.5rem;
  height: auto !important;
  padding: 1rem 0 1.5rem 0;
}
.error-text {
  color: var(--color-secondary);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-icon {
  margin-right: 0.5rem;
}
.site-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--color-primary);
}
.search-city {
  background-color: transparent;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  color: rgb(210, 210, 210);
  font-weight: bold;
  outline: 0;
  border: 2px solid var(--color-secondary);
  box-shadow: 0px 0px 20px rgb(59, 59, 59);
  transition: all 0.3s ease-in-out;
}
.search-city::placeholder {
  color: rgb(180, 180, 180);
}
.search-city:focus {
  border: 2px solid var(--color-primary);
  box-shadow: 0px 0px 10px rgb(183, 183, 183);
}
.weather-head {
  display: flex;
}
.city-name {
  color: var(--color-primary);
  font-size: 2.3rem;
}
.country-name,
.deg-icon {
  margin-left: 0.3rem;
  color: rgb(198, 209, 220);
}
.main-weather,
.weather-sunset-sunrise,
.another-data {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: rgba(74, 74, 74, 0.4);
  box-shadow: 0px 0px 13px rgba(93, 93, 93, 0.6);
  padding: 1rem;
  border-radius: 15px;
}
.temp-box {
  background-color: rgba(74, 74, 74, 0.4);
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feels_like {
  color: rgb(180, 180, 180);
  font-size: 0.8rem;
}
.temp {
  display: flex;
  padding: 0.7rem 0rem;
}
.temp-number {
  color: var(--color-primary);
  font-size: 2rem;
}
.weather-description {
  color: rgb(170, 170, 170);
}
.weather-img {
  background-color: rgba(74, 74, 74, 0.3);
  border-radius: 10px;
}
.weather-sunset-sunrise {
  display: flex;
}
.sunrise-box,
.sunset-box {
  background-color: rgba(74, 74, 74, 0.4);
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
}
.sunrise-img,
.sunset-img {
  width: 80px;
  filter: drop-shadow(0px 0px 10px rgb(120, 120, 120));
}
.sunrise-time,
.sunset-time {
  color: var(--color-secondary);
}
.another-data-box {
  margin: auto;
}
.another-data-title {
  color: var(--color-primary);
  border-bottom: 1.5px solid rgb(151, 151, 151);
  padding: 0.7rem 1rem;
}
.weather-informations {
  padding-top: 1rem;
}
.weather-information {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
  font-weight: bold;
}
.weather-information span {
  color: rgb(190, 190, 190);
  font-weight: 300;
}
.weather-information-icon {
  margin-left: 0.3rem;
}
.card-buttons {
  display: flex;
  width: 92%;
  margin-bottom: 1rem;
}
.install-button,
.add-to-favorite {
  width: 100%;
  padding: 0.7rem;
  border-radius: 7px;
  margin: 0rem 1%;
  background: linear-gradient(
    to left,
    rgba(30, 30, 30, 0.45),
    rgba(30, 30, 30, 0.7)
  );
  color: var(--color-primary);
  font-weight: bold !important;
  border: 2px solid rgb(45, 45, 45);
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.install-button:hover,
.add-to-favorite:hover {
  border-radius: 3px;
  border: 2px solid rgb(56, 56, 56);
}
.add-to-favorite {
  width: auto !important;
  margin: 0.3rem 0;
  padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .install-button {
    border-radius: 10px;
    font-size: 1rem;
  }
  .card,
  .error,
  .weather {
    width: 600px;
    height: 240px;
    border-radius: 20px;
  }
  .error-text {
    font-size: 1.5rem;
  }
  .error {
    height: 150px;
  }
  .sunrise-img,
  .sunset-img {
    width: 120px;
  }
  .site-title {
    font-size: 2.3rem;
  }
  .main-weather,
  .weather-sunset-sunrise,
  .another-data {
    width: 70%;
    padding: 1rem 2rem;
  }
  .temp-number {
    font-size: 4rem;
  }
  .feels_like {
    font-size: 1rem;
  }
  .add-to-favorite {
    padding: 0.5rem 2rem;
  }
}
/* error */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error-title {
  font-size: 3.2rem;
  color: rgb(236, 241, 242);
  animation: errortitle 2s ease-in-out infinite;
  filter: drop-shadow(0px 0px 15px rgb(94, 94, 94));
}
@keyframes errortitle {
  0% {
    transform: translateY(0);
    filter: drop-shadow(0px 0px 12px rgb(94, 94, 94));
  }
  50% {
    transform: translateY(-40px);
    filter: drop-shadow(0px 0px 17px rgb(168, 168, 168));
  }
  100% {
    transform: translateY(0);
    filter: drop-shadow(0px 0px 12px rgb(94, 94, 94));
  }
}
.error-discription {
  color: rgb(115, 119, 122);
  font-size: 1rem;
}
.error-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.go-home-btn {
  padding: 0.35rem 1rem;
  background-color: rgb(90, 90, 90);
  border: 2px solid var(--color-secondary);
  color: var(--color-primary);
  border-radius: 5px;
  margin-top: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.go-home-btn:hover {
  background-color: rgb(55, 55, 55);
}
@media screen and (min-width: 768px) {
  .error-title {
    font-size: 5rem;
  }
  .error-discription {
    font-size: 1.1rem;
  }
  .go-home-btn {
    padding: 0.5rem 2rem;
  }
}
/* favorite */
.favorite-image {
  background-image: url("images/beautiful-clouds-digital-art.jpg");
  background-repeat: repeat;
  background-size: 100vw 100vh;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .favorite-image {
    background-size: 100vw 250vh;
  }
}
/* loader */
.loader-background {
  width: auto !important;
  height: auto !important;
  padding: 1.5rem;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #292f34;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6px),
    #0000 calc(100% - 5px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 13px),
    #000 calc(100% - 12px)
  );
  border-radius: 50%;
  animation: l19 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}
.loader::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
